/* line 54, ../sass/viewport.scss */
.icon-pkg { background: url(../images/icons.png) no-repeat -3px -57px !important; }

/* line 56, ../sass/viewport.scss */
.icon-class { background: url(../images/icons.png) no-repeat -3px -84px !important; }

/* line 58, ../sass/viewport.scss */
.icon-singleton { background: url(../images/icons.png) no-repeat -3px -111px !important; }

/* line 60, ../sass/viewport.scss */
.icon-component { background: url(../images/icons.png) no-repeat -3px -137px !important; }

/* line 62, ../sass/viewport.scss */
.icon-guide { background: url(../images/icons.png) no-repeat -3px -5px !important; }

/* line 64, ../sass/viewport.scss */
.icon-event { background: url(../images/icons.png) no-repeat -3px -245px !important; }

/* line 66, ../sass/viewport.scss */
.icon-property { background: url(../images/icons.png) no-repeat -3px -192px !important; }

/* line 68, ../sass/viewport.scss */
.icon-method { background: url(../images/icons.png) no-repeat -3px -165px !important; }

/* line 70, ../sass/viewport.scss */
.icon-cfg { background: url(../images/icons.png) no-repeat -3px -219px !important; }

/* line 72, ../sass/viewport.scss */
.icon-subclass { background: url(../images/icons.png) no-repeat -3px -299px !important; }

/* line 74, ../sass/viewport.scss */
.icon-fav { background: url(../images/icons.png) no-repeat -3px -328px !important; }

/* line 76, ../sass/viewport.scss */
.icon-hist { background: url(../images/icons.png) no-repeat -3px -380px !important; }

/* line 94, ../sass/viewport.scss */
html { height: 100%; }

/* line 97, ../sass/viewport.scss */
body { -webkit-font-smoothing: antialiased; font: 13px/1.231 "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; min-width: 980px; color: #484848; background: #f8f8f8; min-height: 100%; }

/* line 105, ../sass/viewport.scss */
#loading { position: absolute; width: 180px; margin: -70px 0 0 -90px; height: 140px; top: 50%; left: 50%; }
/* line 112, ../sass/viewport.scss */
#loading .title { background: url(../images/loading-title.png) no-repeat; position: absolute; display: block; top: 0; left: 0px; width: 180px; height: 27px; }
/* line 120, ../sass/viewport.scss */
#loading .logo { background: url(../images/loading.gif) no-repeat; position: absolute; display: block; top: 25px; left: 22px; width: 120px; height: 120px; }

/* line 129, ../sass/viewport.scss */
a { color: #083772; text-decoration: none; }
/* line 132, ../sass/viewport.scss */
a:hover { color: #0464bb; }

/* line 135, ../sass/viewport.scss */
.notice { background-color: #ffc; text-align: center; color: #434343; font-weight: bold; padding: 8px 0; margin: 0 20px 15px 0; border-radius: 8px; -moz-border-radius: 8px; }

/* line 143, ../sass/viewport.scss */
.logo { background: url(../images/icon.png) 0 -787px no-repeat; }

/* line 146, ../sass/viewport.scss */
.search { background: url(../images/search-box.png) no-repeat; padding: 3px 0 0 25px; }

/* line 149, ../sass/viewport.scss */
.search .x-form-text { border: 0; background: 0; }

/* line 151, ../sass/viewport.scss */
#search-field .reset { background: url(../images/x.png) no-repeat; width: 16px; height: 16px; border: 0; margin: 3px 0 0 9px; }

/* line 159, ../sass/viewport.scss */
#search-dropdown { border-style: solid; border-color: #bfbfbf; border-width: 1px 1px 0 1px; background: white; position: absolute; width: 190px; top: 23px; left: 20px; z-index: 5; }
/* line 170, ../sass/viewport.scss */
#search-dropdown .item, #search-dropdown .total { display: block; cursor: pointer; overflow: hidden; padding: 5px 5px 5px 30px; border-width: 0px 0px 1px 0px; border-style: solid; border-color: #bfbfbf; color: #605f5f; }
/* line 179, ../sass/viewport.scss */
#search-dropdown .item .title, #search-dropdown .total .title { font-weight: bold; overflow: hidden; text-overflow: ellipsis; }
/* line 183, ../sass/viewport.scss */
#search-dropdown .item .class, #search-dropdown .total .class { font-size: 0.85em; overflow: hidden; text-overflow: ellipsis; }
/* line 187, ../sass/viewport.scss */
#search-dropdown .item.cfg { background: url(../images/configs.png) no-repeat 0 3px; }
/* line 189, ../sass/viewport.scss */
#search-dropdown .item.property { background: url(../images/properties.png) no-repeat 3px 8px; }
/* line 191, ../sass/viewport.scss */
#search-dropdown .item.method { background: url(../images/methods.png) no-repeat 3px 5px; }
/* line 193, ../sass/viewport.scss */
#search-dropdown .item.event { background: url(../images/events.png) no-repeat 4px 0px; }
/* line 195, ../sass/viewport.scss */
#search-dropdown .item.cls { background: url(../images/class-sm.png) no-repeat 3px 5px; }
/* line 197, ../sass/viewport.scss */
#search-dropdown .item.x-item-selected { background-color: #ffffaa; }
/* line 199, ../sass/viewport.scss */
#search-dropdown .item.x-view-over { background-color: #ffffaa; }
/* line 201, ../sass/viewport.scss */
#search-dropdown .total { cursor: auto; text-align: right; font-size: 0.85em; }

/* line 207, ../sass/viewport.scss */
#center-container, #west-region-container { background: #f8f8f8 url(../images/headBG.png) repeat-x; }

/* line 210, ../sass/viewport.scss */
#nested-west-region-container { background: #f8f8f8; }
/* line 213, ../sass/viewport.scss */
#nested-west-region-container #classes-tab-panel .x-grid-row td { background: none; border: 0; cursor: pointer; }
/* line 217, ../sass/viewport.scss */
#nested-west-region-container #classes-tab-panel .x-grid-row td img { display: none; margin-top: 1px; }
/* line 220, ../sass/viewport.scss */
#nested-west-region-container #classes-tab-panel .x-grid-row-over td { background-color: #f0f0f0; }
/* line 222, ../sass/viewport.scss */
#nested-west-region-container #classes-tab-panel .x-grid-row-over td img { display: block; }
/* line 225, ../sass/viewport.scss */
#nested-west-region-container #classes-tab-panel .drag .x-grid-row-over td { background: none; }
/* line 227, ../sass/viewport.scss */
#nested-west-region-container #classes-tab-panel .drag .x-grid-row-over td img { display: none; }
/* line 229, ../sass/viewport.scss */
#nested-west-region-container #classes-tab-panel .x-grid-cell-inner { padding: 2px 2px 3px 2px; }
/* line 231, ../sass/viewport.scss */
#nested-west-region-container .x-splitter { background: #ccc; border-style: solid; border-color: #bfbfbf; height: 6px !important; background-attachment: fixed; background: #e9e9e9 url(../images/drag-bar-center.png) no-repeat center; border-width: 1px 0; }

/* line 240, ../sass/viewport.scss */
#footer { background: #f8f8f8; color: gray; text-align: right; font-size: 10px; padding-right: 40px; }
/* line 249, ../sass/viewport.scss */
#footer #footer-content { display: block !important; }

/* line 253, ../sass/viewport.scss */
#center-container h1 { font-family: "klavika-web-1", "klavika-web-2", sans-serif; letter-spacing: -1px; padding-bottom: 5px; padding-top: 2px; border-bottom: 1px #f1f1f1; font-size: 2.3em; color: #66ab16; }
/* line 261, ../sass/viewport.scss */
#center-container h1 a { color: #66ab16; }
/* line 263, ../sass/viewport.scss */
#center-container h1 span { color: #929292; letter-spacing: 0; margin-left: 10px; font-size: 0.6em; }
/* line 268, ../sass/viewport.scss */
#center-container h1 span.private { float: right; font-weight: bold; color: #e7ba27; letter-spacing: 0px; }
/* line 275, ../sass/viewport.scss */
#center-container h1.class a { background: url(../images/class-m.png) no-repeat 0 -5px; margin-left: -12px; padding: 0.1em 0 0.4em 2em; }
/* line 280, ../sass/viewport.scss */
#center-container h1.component a { background: url(../images/component-m.png) no-repeat 0 -5px; margin-left: -12px; padding: 0.1em 0 0.4em 2em; }
/* line 285, ../sass/viewport.scss */
#center-container h1.singleton a { background: url(../images/singleton-m.png) no-repeat 0 -5px; margin-left: -12px; padding: 0.1em 0 0.4em 2em; }

/* line 290, ../sass/viewport.scss */
.card-panel { background: #fff; border-radius: 5px; -moz-border-radius: 5px; -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); line-height: 1.5em; }
/* line 295, ../sass/viewport.scss */
.card-panel h3 { font-size: 1.2em; padding: 1em 0 0.4em 0; font-weight: normal; }

/* line 303, ../sass/viewport.scss */
#center-container .class-list h1.top { margin-bottom: 12px; }
/* line 306, ../sass/viewport.scss */
#center-container .class-list .section { border-radius: 5px; -moz-border-radius: 5px; background-color: #f7f7f7; border: 1px solid #ebebeb; padding: 0 15px 15px 10px; margin: 0 20px 20px 0; }
/* line 313, ../sass/viewport.scss */
#center-container .class-list .section.legend { width: 120px; float: right; }
/* line 85, ../sass/viewport.scss */
#center-container .class-list .section.legend h4 { font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 90%; padding: 11px 0 5px 0; text-transform: uppercase; color: #999999; }
/* line 317, ../sass/viewport.scss */
#center-container .class-list .section.legend ul { float: left; }
/* line 319, ../sass/viewport.scss */
#center-container .class-list .section.legend .icon { padding-left: 22px; }
/* line 321, ../sass/viewport.scss */
#center-container .class-list .section.legend a { display: block; }
/* line 324, ../sass/viewport.scss */
#center-container .class-list .section.guides { padding: 15px 35px 15px 15px; line-height: 1.7em; float: left; }
/* line 328, ../sass/viewport.scss */
#center-container .class-list .section.guides h1 { font-size: 1.7em !important; }
/* line 330, ../sass/viewport.scss */
#center-container .class-list .section.guides .lft, #center-container .class-list .section.guides .mid, #center-container .class-list .section.guides .rgt { float: left; margin-left: 20px; }
/* line 333, ../sass/viewport.scss */
#center-container .class-list .section.guides a { display: block; height: 32px; margin: 10px 0; padding-left: 40px; }
/* line 339, ../sass/viewport.scss */
#center-container .class-list .section.guides .examples { clear: both; border-top: 1px solid #ebebeb; }
/* line 342, ../sass/viewport.scss */
#center-container .class-list .section.guides .examples a { padding-left: 10px; margin: 10px 0 0 0; height: auto; }
/* line 347, ../sass/viewport.scss */
#center-container .class-list .section.guides .guide { background: url(../images/guide-icon.png) no-repeat; }
/* line 350, ../sass/viewport.scss */
#center-container .class-list .section.classes { clear: both; padding: 20px 10px 20px 20px; }
/* line 353, ../sass/viewport.scss */
#center-container .class-list .section.classes .lft { float: left; width: 250px; margin-left: 20px; }
/* line 357, ../sass/viewport.scss */
#center-container .class-list .section.classes .mid { float: left; width: 280px; }
/* line 360, ../sass/viewport.scss */
#center-container .class-list .section.classes .rgt { float: left; }
/* line 362, ../sass/viewport.scss */
#center-container .class-list .section.classes .links { margin-left: 1.5em; }
/* line 364, ../sass/viewport.scss */
#center-container .class-list .section.classes .links a { display: block; }
/* line 366, ../sass/viewport.scss */
#center-container .class-list .section.classes .links a.more { font-weight: bold; }

/* line 371, ../sass/viewport.scss */
#nested-west-region-container .x-grid-cell-inner { font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 13px; position: relative; -webkit-transition: background-color 0.15s linear; }
/* line 54, ../sass/viewport.scss */
#nested-west-region-container .x-grid-cell-inner .icon-pkg { background: url(../images/icons.png) no-repeat -3px -57px !important; }
/* line 56, ../sass/viewport.scss */
#nested-west-region-container .x-grid-cell-inner .icon-class { background: url(../images/icons.png) no-repeat -3px -84px !important; }
/* line 58, ../sass/viewport.scss */
#nested-west-region-container .x-grid-cell-inner .icon-singleton { background: url(../images/icons.png) no-repeat -3px -111px !important; }
/* line 60, ../sass/viewport.scss */
#nested-west-region-container .x-grid-cell-inner .icon-component { background: url(../images/icons.png) no-repeat -3px -137px !important; }
/* line 62, ../sass/viewport.scss */
#nested-west-region-container .x-grid-cell-inner .icon-guide { background: url(../images/icons.png) no-repeat -3px -5px !important; }
/* line 64, ../sass/viewport.scss */
#nested-west-region-container .x-grid-cell-inner .icon-event { background: url(../images/icons.png) no-repeat -3px -245px !important; }
/* line 66, ../sass/viewport.scss */
#nested-west-region-container .x-grid-cell-inner .icon-property { background: url(../images/icons.png) no-repeat -3px -192px !important; }
/* line 68, ../sass/viewport.scss */
#nested-west-region-container .x-grid-cell-inner .icon-method { background: url(../images/icons.png) no-repeat -3px -165px !important; }
/* line 70, ../sass/viewport.scss */
#nested-west-region-container .x-grid-cell-inner .icon-cfg { background: url(../images/icons.png) no-repeat -3px -219px !important; }
/* line 72, ../sass/viewport.scss */
#nested-west-region-container .x-grid-cell-inner .icon-subclass { background: url(../images/icons.png) no-repeat -3px -299px !important; }
/* line 74, ../sass/viewport.scss */
#nested-west-region-container .x-grid-cell-inner .icon-fav { background: url(../images/icons.png) no-repeat -3px -328px !important; }
/* line 76, ../sass/viewport.scss */
#nested-west-region-container .x-grid-cell-inner .icon-hist { background: url(../images/icons.png) no-repeat -3px -380px !important; }
/* line 377, ../sass/viewport.scss */
#nested-west-region-container .x-grid-cell-inner a.fav { display: block; width: 15px; height: 15px; position: absolute; right: 7px; top: 0; }
/* line 384, ../sass/viewport.scss */
#nested-west-region-container .x-grid-cell-inner a.fav.show { background: url(../images/icons.png) no-repeat -4px -326px; }
/* line 387, ../sass/viewport.scss */
#nested-west-region-container .x-grid-row-over .x-grid-cell-inner { -webkit-transition: background-color 0.15s linear; }
/* line 389, ../sass/viewport.scss */
#nested-west-region-container .x-grid-row-over .x-grid-cell-inner a.fav { background: url(../images/icons.png) no-repeat -4px -353px; }
/* line 391, ../sass/viewport.scss */
#nested-west-region-container .x-grid-row-over .x-grid-cell-inner a.fav:hover { background: url(../images/icons.png) no-repeat -4px -326px; }
/* line 393, ../sass/viewport.scss */
#nested-west-region-container .x-panel-body { background: #f8f8f8; }

/* line 396, ../sass/viewport.scss */
.x-scroller-vertical { border: 0; }

/* line 401, ../sass/viewport.scss */
.class-overview pre, #guide pre { background-color: #f7f7f7; border: solid 1px #e8e8e8; border-radius: 5px; -moz-border-radius: 5px; color: #314e64; font-family: "Menlo", "Courier New", Courier, monospace; padding: 10px 20px; line-height: 1.3em; margin: 10px 0 14px; overflow-x: auto; overflow-y: hidden; }
/* line 412, ../sass/viewport.scss */
.class-overview pre code, #guide pre code { font-family: "Menlo", "Courier New", Courier, monospace; }
/* line 414, ../sass/viewport.scss */
.class-overview pre i, .class-overview pre em, #guide pre i, #guide pre em { font-style: normal; }
/* line 416, ../sass/viewport.scss */
.class-overview pre.prettyprint, #guide pre.prettyprint { padding: 10px 12px; }

/* line 420, ../sass/viewport.scss */
.class-overview img.screenshot { display: block; padding: 10px 0; }
/* line 423, ../sass/viewport.scss */
.class-overview .hierarchy { border-radius: 5px; -moz-border-radius: 5px; background-color: #f7f7f7; border: 1px solid #ebebeb; padding: 0 15px 15px 10px; float: right; margin: 0 0 20px 20px; font-size: 12px; }
/* line 85, ../sass/viewport.scss */
.class-overview .hierarchy h4 { font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 90%; padding: 11px 0 5px 0; text-transform: uppercase; color: #999999; }
/* line 432, ../sass/viewport.scss */
.class-overview .hierarchy .mixin, .class-overview .hierarchy .alternate-class-name { padding: 0 0 0 12px; margin-top: 3px; }
/* line 435, ../sass/viewport.scss */
.class-overview .hierarchy .alternate-class-name { color: #484848; }
/* line 437, ../sass/viewport.scss */
.class-overview .hierarchy .subclass { background: url(../images/elbow-end.gif) no-repeat -5px 0; margin-top: 3px; padding: 0 0 0 12px; }
/* line 441, ../sass/viewport.scss */
.class-overview .hierarchy .subclass.first-child { background: none; padding-left: 15px; }

/* line 445, ../sass/viewport.scss */
.class-overview, #guide { min-height: 100px; }
/* line 447, ../sass/viewport.scss */
.class-overview .clr, #guide .clr { clear: both; }
/* line 449, ../sass/viewport.scss */
.class-overview p, #guide p { padding: 0; margin: 0 0 0.8em; }
/* line 452, ../sass/viewport.scss */
.class-overview p:last-child, #guide p:last-child { margin: 0; }
/* line 453, ../sass/viewport.scss */
.class-overview em, #guide em { font-style: italic; }
/* line 455, ../sass/viewport.scss */
.class-overview strong, #guide strong { font-weight: bold; }
/* line 457, ../sass/viewport.scss */
.class-overview ul, #guide ul { margin: 0 0 1em 2em; }
/* line 459, ../sass/viewport.scss */
.class-overview ul li, #guide ul li { list-style: disc outside; }
/* line 461, ../sass/viewport.scss */
.class-overview ol, #guide ol { margin: 0 0 1em 2em; }
/* line 463, ../sass/viewport.scss */
.class-overview ol li, #guide ol li { list-style: decimal outside; }
/* line 465, ../sass/viewport.scss */
.class-overview h3, #guide h3 { font-weight: bold; font-size: 1.1em; }
/* line 468, ../sass/viewport.scss */
.class-overview h4, #guide h4 { font-weight: bold; }

/* line 491, ../sass/viewport.scss */
#guide { padding-right: 10px; font-size: 14px; }
/* line 494, ../sass/viewport.scss */
#guide h1 { background: url(../images/doc-m.png) no-repeat -5px -5px; padding: 10px 0 10px 55px; font-family: "klavika-web-1", "klavika-web-2", sans-serif; letter-spacing: -1px; margin-bottom: 16px; font-size: 2.3em; color: #66ab16; }
/* line 502, ../sass/viewport.scss */
#guide h2 { font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; letter-spacing: -1px; line-height: 20px; border-bottom: 1px solid #f1f1f1; font-size: 20px; font-weight: bold; color: #314e64; margin: 30px 0 15px; padding-bottom: 5px; }
/* line 504, ../sass/viewport.scss */
#guide h3 { font-weight: bold; color: #314e64; margin-top: 0.5em; padding-top: 16px; font-size: 16px; line-height: 16px; margin-bottom: 4px; }
/* line 506, ../sass/viewport.scss */
#guide hr { display: none; }

/* line 510, ../sass/viewport.scss */
#failure h1 { padding: 10px 0; font-family: "klavika-web-1", "klavika-web-2", sans-serif; letter-spacing: -1px; margin-bottom: 16px; font-size: 2.3em; color: #66ab16; }
/* line 517, ../sass/viewport.scss */
#failure p { margin: 0 0 0.8em; }

/* line 523, ../sass/viewport.scss */
#center-container .doc-contents h1, #center-container .doc-contents h2 { font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; letter-spacing: -1px; line-height: 20px; border-bottom: 1px solid #f1f1f1; font-size: 20px; font-weight: bold; color: #314e64; margin: 30px 0 15px; padding-bottom: 5px; }
/* line 525, ../sass/viewport.scss */
#center-container .doc-contents h3 { font-weight: bold; color: #314e64; margin-top: 0.5em; padding-top: 16px; font-size: 16px; line-height: 16px; margin-bottom: 4px; }

/* line 529, ../sass/viewport.scss */
.class-overview .deprecated-signature, .class-overview .protected-signature, .class-overview .static-signature { font-weight: bold; text-transform: uppercase; color: white; font-size: 0.7em; border-radius: 2px; -moz-border-radius: 2px; margin-left: 5px; padding: 0 3px; }
/* line 537, ../sass/viewport.scss */
.class-overview .deprecated-signature { background-color: #aa0000; }
/* line 539, ../sass/viewport.scss */
.class-overview .protected-signature { background-color: #aaa; }
/* line 541, ../sass/viewport.scss */
.class-overview .static-signature { background-color: #484848; }
/* line 543, ../sass/viewport.scss */
.class-overview .constructor-signature { margin-left: 0; margin-right: 3px; color: #083772; }
/* line 547, ../sass/viewport.scss */
.class-overview .cfgGroup { margin: 10px 0 3px 0; }

/* line 550, ../sass/viewport.scss */
.members { color: #444444; padding-top: 10px; clear: both; first-child-padding-top: 0; }
/* line 556, ../sass/viewport.scss */
.members .pre { font-family: "Menlo", "Courier New", Courier, monospace; font-size: 0.9em; }
/* line 559, ../sass/viewport.scss */
.members .definedBy { float: right; padding: 20px 20px 0 0; font-weight: bold; color: #666666; }
/* line 564, ../sass/viewport.scss */
.members .subsection .definedBy { padding-top: 0; }
/* line 567, ../sass/viewport.scss */
.members h3.pa { padding: 10px 0 5px 0; }
/* line 569, ../sass/viewport.scss */
.members h3.members-title { margin: 15px 0 5px 0; padding-left: 30px; font-size: 1.3em; font-weight: bold; }
/* line 574, ../sass/viewport.scss */
.members #m-cfg .members-title { background: url(../images/configs.png) no-repeat 0 15px; }
/* line 576, ../sass/viewport.scss */
.members #m-property .members-title { background: url(../images/properties.png) no-repeat 0 19px; }
/* line 578, ../sass/viewport.scss */
.members #m-method .members-title { background: url(../images/methods.png) no-repeat 0 16px; }
/* line 580, ../sass/viewport.scss */
.members #m-event .members-title { background: url(../images/events.png) no-repeat 0 11px; }
/* line 582, ../sass/viewport.scss */
.members h4.members-subtitle { padding-left: 30px; margin: 10px 0 7px 0; }
/* line 585, ../sass/viewport.scss */
.members ul ul { list-style: circle; margin-top: 1em; }
/* line 588, ../sass/viewport.scss */
.members .sub-desc { margin: 0.5em 0 1em; }
/* line 592, ../sass/viewport.scss */
.members .description .short p { margin: 0; }
/* line 594, ../sass/viewport.scss */
.members a { text-decoration: none; }
/* line 596, ../sass/viewport.scss */
.members .member.first-child { border-width: 1px; }
/* line 598, ../sass/viewport.scss */
.members .member { position: relative; min-height: 2.5em; border-style: solid; border-color: #d0d0d0; border-width: 0 1px 1px 1px; padding: 5px 22px; }
/* line 601, ../sass/viewport.scss */
.members .member .long { display: none; }
/* line 603, ../sass/viewport.scss */
.members .member .meta { float: right; text-align: right; }
/* line 606, ../sass/viewport.scss */
.members .member a.definedIn { color: #888888; font-size: 0.9em; }
/* line 609, ../sass/viewport.scss */
.members .member a.definedIn:hover { color: #0464bb; }
/* line 611, ../sass/viewport.scss */
.members .member a.side { display: block; position: absolute; top: 0; left: 0; bottom: 0; background: #aaaaaa; background: -webkit-gradient(linear, left top, right top, from(#f9f9f9), to(#eff0f2)); background: -moz-linear-gradient(left, #f9f9f9, #eff0f2); }
/* line 619, ../sass/viewport.scss */
.members .member a.side span { display: block; width: 15px; }
/* line 623, ../sass/viewport.scss */
.members .member a.side.expandable span { background: url(../images/member-collapsed.gif) no-repeat 2px 2px; }
/* line 626, ../sass/viewport.scss */
.members .member a.side.expandable:hover span { background: url(../images/member-hover.gif) no-repeat 2px 2px; }
/* line 628, ../sass/viewport.scss */
.members .member a.viewSource { color: rgba(0, 0, 0, 0); -webkit-transition: color 0.2s linear; font-size: 0.9em; }
/* line 632, ../sass/viewport.scss */
.members .member a.viewSource:hover { color: #0464bb; }
/* line 635, ../sass/viewport.scss */
.members .member:hover a.viewSource { color: gray; -webkit-transition: color 0.2s linear; }
/* line 639, ../sass/viewport.scss */
.members .member.open a.side.expandable { background: -webkit-gradient(linear, left top, right top, from(#ebf3fe), to(#d9e8fc)); background: -moz-linear-gradient(left, #ebf3fe, #d9e8fc); }
/* line 641, ../sass/viewport.scss */
.members .member.open a.side.expandable span { background: url(../images/member-expanded.gif) no-repeat 1px 2px; }
/* line 643, ../sass/viewport.scss */
.members .member.open .short { display: none; }
/* line 645, ../sass/viewport.scss */
.members .member.open .long { display: block; }
/* line 651, ../sass/viewport.scss */
.members .member .name { font-weight: bold; }
/* line 653, ../sass/viewport.scss */
.members .member .title { padding-bottom: 3px; }
/* line 655, ../sass/viewport.scss */
.members .member .deprecated { border: 1px solid #999; border-radius: 5px; -moz-border-radius: 5px; color: #600; background-color: #fee; padding: 10px 50px; text-align: center; }
/* line 662, ../sass/viewport.scss */
.members .member .deprecated strong { text-transform: uppercase; color: white; border-radius: 2px; -moz-border-radius: 2px; padding: 0 3px; background-color: #aa0000; }

/* line 669, ../sass/viewport.scss */
.expandAllMembers { background: url(../images/expandcollapse.png) no-repeat -12px 2px !important; }

/* line 671, ../sass/viewport.scss */
.collapseAllMembers { background: url(../images/expandcollapse.png) no-repeat 2px 2px !important; }

/* line 675, ../sass/viewport.scss */
.hover-menu-button { padding-left: 20px; cursor: pointer; }
/* line 678, ../sass/viewport.scss */
.hover-menu-button sup { font-size: 0.8em; position: relative; top: -4px; }

/* line 683, ../sass/viewport.scss */
.hover-menu { font-size: 12px; position: absolute; padding: 5px 15px 10px; background: #eaeaea; z-index: 8; top: 21px; line-height: 1.3em; border: 1px solid #bfbfbf; border-top: 1px solid #eaeaea; left: -16px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
/* line 695, ../sass/viewport.scss */
.hover-menu table { width: 100%; }
/* line 697, ../sass/viewport.scss */
.hover-menu td { vertical-align: top; }
/* line 699, ../sass/viewport.scss */
.hover-menu .item { position: relative; }
/* line 701, ../sass/viewport.scss */
.hover-menu a { display: block; position: relative; padding: 2px 30px 2px 0; color: #0464bb; white-space: nowrap; }
/* line 707, ../sass/viewport.scss */
.hover-menu a:hover { color: #083772; text-decoration: underline; }
/* line 710, ../sass/viewport.scss */
.hover-menu a.close { position: absolute; width: 12px; height: 12px; opacity: 0.5; filter: alpha(opacity=50); background: url(../images/x12.png) no-repeat; text-indent: -9999px; padding: 3px 0 0 0; right: 0; top: 3px; }
/* line 720, ../sass/viewport.scss */
.hover-menu a.close:hover { opacity: 1; filter: alpha(opacity=100); }
/* line 722, ../sass/viewport.scss */
.hover-menu a span.static { font-size: 0.6em; text-transform: uppercase; font-weight: bold; padding: 0 0.5em; border-radius: 2px; -moz-border-radius: 2px; color: white; background: #484848; }
